<h1>Editing app_version</h1>

<%= render 'form' %>

<%= link_to 'Show', "/projects/#{@app_version.project_id}/app_versions/#{@app_version.id}" %> |
<%= link_to 'Back', "/projects/#{@app_version.project_id}/app_versions" %>
