<% title "#{@app_version.version} " %>
<p id="notice"><%= notice %></p>
<%= image_tag "#{@app_version.version_icon.url(:thumb)}" %>
<%= @app_version.version %>
<%= link_to 'Install', @app_version.url_plist, 'data-role' => 'button', 'data-ajax' => false %>
