body {
  background-color: #eee;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin:auto;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #000;
    text-decoration: underline;
  }
  &:hover {
    color: #0CAEEF;
    text-decoration: underline;
    background: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }

}

.main_content {
  width:95%;
  margin:auto;
}

@mixin bRadius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#header {
  background: #fff;
  min-height: 60px;
  padding: 7px;
  margin-bottom: 10px;
  @include bRadius;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
}

#footer {
  background: #fff;
  min-height: 20px;
  padding: 7px;
  @include bRadius;
}

#body {
  background: #fff;
  min-height: 75px;
  padding: 7px;
  margin-bottom: 10px;
  @include bRadius;
}

#navigation {
  float: right;
  margin-top: 20px;
}

#logo {
  float: left;
}

.copyright {
  font-size: smaller;
  float: left;
}

#terms {
  float: right;
}

.blue_button {
  background: #0CAEEF;
  @include bRadius;
  padding: 5px;
}

#loading {
  background: #67C478;
  color: white;
  @include bRadius;
  min-height: 20px;
  min-width: 60px;
  padding: 5px;
  display: none;
}